<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body {
            background: #0e2439;
        }

        #heading {
            color: aliceblue;
            text-align: center;
            font-family: 'Gamja Flower', cursive;
            font-size: 50px;
        }

        #ps {
            color: aliceblue;
            font-family: 'Gamja Flower', cursive;
            font-size: 40;
        }

        #chead {
            color: aliceblue;
            font-family: 'Gamja Flower', cursive;
            font-size: 35px;
        }

        #code {
            color: aliceblue;
            font-size: 20px;
        }

        #pshead {
            color: aliceblue;
            font-family: 'Gamja Flower', cursive;
            font-size: 45px;
            text-align: center;
        }

        #res {
            text-align: center;
        }

        span {
            font-size: 40px;
        }

        button {
            text-align: center;
        }

        p {
            font-size: 20px;
        }

        textarea {
            color: aliceblue;
        }

        .option__container{
            display: flex;
            justify-content: center;
        }
        .option{
            background: #fff;
            margin: 10px;
            padding: 5px;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 id="heading">Crackathon Round 1</h1>
    </div>
    <div class="row option__container">
        <div class="option col m4 l4">
            <div style="text-align:center;">
                <a href="/lang1/1">C</a>
            </div>
        </div>
        <div class="option col m4 l4">
            <div style="text-align:center;">
                <a href="/lang2/1">Python</a>
            </div>
        </div>
        <div class="option col m4 l4">
            <div style="text-align:center;">
                <a href="/lang3/1">Java</a>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
        window.location.hash = "no-back-button";
        window.location.hash = "Again-No-back-button"; //again because google chrome don't insert first hash into history
        window.onhashchange = function () {
            window.location.hash = "no-back-button";
        }
    </script>
</body>

</html>