<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Gamja+Flower" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        body{
            background:#0e2439;
        }
        #heading{
            color: aliceblue;
            text-align: center;
            font-family: 'Gamja Flower', cursive;
            font-size: 50px;
        }
        #ps{
            color: aliceblue;
            font-family: 'Gamja Flower', cursive;
            font-size: 40;
        }
        #chead{
            color: aliceblue;
            font-family: 'Gamja Flower', cursive;
            font-size: 35px;           
        }   
        #code{
            color: aliceblue;
            font-size: 20px;
        }
        #pshead{
            color: aliceblue;
            font-family: 'Gamja Flower', cursive;
            font-size:30px;
            text-align: center;
        }
        #res{
            text-align: center;
        }
        span{
            font-size: 30px;
        }
        button{
            text-align: center;
        }
        p{
            font-size: 20px;
        }
        textarea{
            color: aliceblue;
        }
        #constraints{
            color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 id="heading">Crackathon Round 1 <span style="float:right;"><a href="/lang1/1">Prev</a></span> </h1>
        <h1 id="pshead">
            Problem Statement: Given an infinite no of 3's and 7's, print "yes" if a number m can be
            formed from 3's and 7's, else print "no" 
            <span></span>
        </h1>
        <p id="constraints"><span>Constraints</span>: 1<=m<=1000</p>
        <div class="row">
            <div class="col m4 l4 container" id="code">
                <h1 id="chead">Code</h1>
                <pre>
m = int(input())
if(m<=7):
    if(m%3==0 || m%7==0):
        print("yes")
    else:
        print("no")
else:
    if(m%3==0 or m%3==1 or m%3==2):
        print("yes")
    else:
        print("no")
            </pre>
            </div>
            <div class="col m4 l4" id="res">
                <h1 id="chead">Score</h1>
                <a class="waves-effect waves-light btn-large">
                    <%= total %></a>
            </div>
            <div class="col m4 l4" id="res">
                <h1 id="chead">Input</h1>
                <div class="row">
                    <form class="col m12" action="http://127.0.0.1:8080/lang1/2" method="post">
                        <div class="row">
                            <div class="input-field col m12">
                                <textarea id="textarea1" class="materialize-textarea" name="input"></textarea>
                                <label for="textarea1">Enter Testcase</label>
                            </div>
                        </div>
                        <button class="<%= disabled %> btn waves-effect waves-light" type="submit" name="action">Submit
                            <i class="material-icons right">send</i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>